:root {
    --main-font: 'Montserrat', sans-serif;
    --black: #111111;
    --orange: #FD9222;
    --violet: #1E1823;
    --white: #FFF;
    --gray: #FAFAFA;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    /* To remove default bottom gap of 4px */
    display: block;
}

body {
    font-family: var(--main-font);
    background-color: var(--gray);
}

.container {
    /* use 100% of the page id the width is smaller then max width */
    width: 100%;
    /* content width + 15px for each side (left and right) */
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    /* Center content inside the container */
    margin: 0 auto;
    /* Temporary border ouline */
    /* outline: 2px solid red; */
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.section-title-accent {
    color: var(--orange);
}

/* -------------------- HEADER -------------------- */

.header {
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    align-items: center;
    /* Gap between navigation and socials */
    gap: 90px;
}

.header-logo {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    /* Align logo icon to be in center */
    display: flex;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo-icon {
    width: 24px;
    height: 24px;
    margin-left: 4px;
}

.header-logo-accent {
    font-style: italic;
    margin-right: 6px;
}

.header-menu {
    display: flex;
    /* Space between menu items */
    gap: 24px;
}

.header-menu-link {
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14x;
    letter-spacing: -0.02em;
    transition: color 300ms ease-in-out;
}

.header-menu-link:is(:hover, :focus) {
    color: var(--orange);
}

.header-navigation {
    display: flex;
    align-items: center;
    /* Make header to take the most of the space */
    flex-grow: 1;
    /* Align content to have an even space between */
    justify-content: space-between;
}

.current-page {
    position: relative;
}

.current-page::after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--orange);
}

.header-socials {
    display: flex;
    /* Space between socials */
    gap: 14px;
    align-items: center;
}

.header-socials-item {
    height: 24px;
}

.header-socials-icon {
    transition: stroke 300ms ease-in-out;
    width: 24px;
    height: 24px;
    stroke: var(--black);
    fill: none;
}

.header-socials-link:is(:hover, :focus) .header-socials-icon {
    stroke: var(--orange);
}

/* -------------------- HERO -------------------- */

.hero {
    padding-bottom: 79px;
}

.hero-container {
    background-color: #433f46;
    background-image:
        linear-gradient(180deg, rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)),
        url(../images/home-page/chocolate-hero.jpg);
    border-radius: 30px;
    /* Set padding around container */
    padding: 380px 40px 40px 40px;
}

.hero-title {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    /* Set title width */
    max-width: 484px;
    margin-bottom: 32px;
}

.hero-buttons {
    /* Make buttons to display in the same line */
    display: flex;
    align-items: center;
}

.hero-button {
    background: var(--orange);
    color: var(--white);
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
    margin-right: 14px;
}

.hero-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #FFF;
}

.hero-down {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    /* Shift button to the right side */
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.hero-down-arrow {
    background-color: var(--white);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-down-icon {
    width: 22px;
    height: 22px;
    fill: var(--orange)
}

/* -------------------- ADVANTAGES -------------------- */

.advantages {
    background: var(--violet, #1E1823);
    padding-top: 50px;
    padding-bottom: 50px;
}

.advantages-list {
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    gap: 88px;
}

.advantages-item {
    /* (container_total_width / combined_gap_between_all_items) / all_items_count */
    width: calc((100% - 88px * 2) / 3);
    /*  */
    position: relative;
}

.advantages-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -44px;
    top: 50%;
    transform: translateY(-50%);
    height: 124px;
    width: 1px;
    background-color: var(--white);
    opacity: 0.5;
}

.advantages-icon-container {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages-icon {
    width: 32px;
    height: 32px;
    fill: var(--orange);
}

.advantages-item-title {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

.advantages-item-description {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    letter-spacing: -0.02em;
}

/* -------------------- Taste -------------------- */

.taste {
    padding-top: 93px;
}

.taste-title {
    max-width: 411px;
    /* Center it */
    margin: 0 auto;
    margin-bottom: 28px;
}

.taste-description {
    color: var(--black);
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 486px;
    /* Center it */
    margin: 0 auto;
    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    gap: 24px 32px;
    flex-wrap: wrap;
}

.taste-item {
    width: calc((100% - 32px * 3) / 4);
    border-radius: 15px;
    border: 1px solid var(--orange);
    background: var(--white);
    padding: 28px 36px 28px 28px;
    position: relative;
    overflow: hidden;
}

.taste-item:nth-child(4n+1) {
    background-color: var(--orange);
}

.taste-item:nth-child(4n+3) {
    background-color: var(--black);
    border-color: var(--black);
}


.taste-item:nth-child(odd) .taste-item-description {
    color: var(--white);
}

.taste-item-arrow-icon {
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 14px;
    width: 24px;
    height: 24px;
    stroke: var(--white);
    fill: none;
}

.taste-item:nth-child(even) .taste-item-arrow-icon {
    stroke: var(--orange);
}

.taste-item-image {
    margin-bottom: 36px;
    width: 214px;
    height: 160px;
}

.taste-item-description {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.taste-item-cover-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 20px 15px;
    transform: translateY(101%);
    transition: transform 300ms ease-in-out;
    /* Add inner scroll */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.taste-item:hover .taste-item-cover-container {
    transform: translateY(0);
}

.taste-item-cover-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.taste-item-cover-buttons {
    display: flex;
    gap: 6px;
    padding: 8px 0 14px;
}

.taste-item-cover-button {
    padding: 6px 16px;
    font-size: 10px;
    line-height: 1.2;
    border-radius: 35px;
    border: 1px solid var(--orange);
    background: var(--gray);
}

.taste-item-cover-button-type {
    color: var(--white);
    background-color: var(--orange);
}

.taste-item-cover-button-benefits {}

.taste-item-cover-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--black);
    /* Add inner scroll */
    overflow-y: auto;
}

/* -------------------- Made -------------------- */

.made {
    padding-top: 100px;
}

.made-wrap {
    display: flex;
    justify-content: space-between;
}

.made-content {
    background-color: var(--white);
    padding: 32px;
    border-radius: 15px;
    width: 516px;
}

.made-title {
    margin-bottom: 50px;
}

.made-head {
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    min-width: 360px;
    padding-bottom: 28px;
}

.made-list {
    width: 429px;
}

.made-list-item:not(:last-child) {
    margin-bottom: 24px;
}

.made-list-item {
    padding-left: 16px;
    position: relative;
}

.made-list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 8px;
    height: 8px;
    background-color: #4C4C4C;
    border-radius: 50%;
    border: 1px solid #ECEDED;
}

.made-list-item-description {
    color: var(--black);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/* -------------------- Loved -------------------- */

.loved {
    padding: 120px 0;
}

.loved-title {
    margin-bottom: 90px;
}

.loved-title-accent {
    color: var(--orange);
}

.loved-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 40px 28px; */
    column-gap: 28px;
    row-gap: 60px;
    margin-bottom: 50px;
}

.loved-list-item {
    width: calc((100% - 28px * 2) / 3);
    padding: 56px 24px 24px 24px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: var(--white);
    box-shadow: 0px 9px 100px 0px rgba(17, 17, 17, 0.03);
    position: relative;
}

.loved-item-image {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loved-list-title {
    color: var(--black);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 24px;
}

.loved-list-description {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.loved-button {
    color: var(--black);
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid var(--orange);
    display: block;
    margin: 0 auto;
    background-color: transparent;
}

/* -------------------- Footer -------------------- */

.footer {
    background: var(--violet);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-title {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    max-width: 300px;
}

.footer-top {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    margin-bottom: 24px;
    justify-content: space-between;
}

.footer-contacts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-contacts {
    color: var(--white);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    margin-bottom: 14px;
}

.footer-address {
    font-style: normal;
}

.footer-address-list {}

.footer-address-list-item:not(:last-child) {
    margin-bottom: 4px;
}

.footer-address-link {
    color: var(--white);
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.footer-navigation {}

.footer-menu {
    display: flex;
    gap: 24px;
}

.footer-menu-item {}

.footer-menu-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

/* -------------------- Modal -------------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 67, 60, 0.5);
    transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 517px;
    min-height: 794px;
    background-color: var(--gray);
    border-radius: 15px;
    transition: transform 500ms ease-in-out;
}

.backdrop.is-hidden .modal {
    transform: translate(-150%, -50%) scale(0) rotate(1turn);
}

.modal-close-icon {
    width: 100%;
    height: 100%;
    stroke: var(--black);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-close-button {
    position: absolute;
    border: none;
    background: none;
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.is-hidden {
    /* Hide it */
    opacity: 0;
    /* Disable focus */
    visibility: hidden;
    /* Disable interaction */
    pointer-events: none;
}