:root {
    /* Fonts */
    --main-font: 'Montserrat', sans-serif;

    /* Colors */
    --black: #111111;
    --orange: #FD9222;
    --violet: #1E1823;
    --white: #FFF;
    --gray: #FAFAFA;
    --light-orange: #FCF1E0;
    /* RGBA collors */
    --rgba-dark-gray: 17, 17, 17;
    --rgba-white: 255, 255, 255;
    --rgba-black: 0, 0, 0;

    /* Container configurations */
    --container-width: 1136px;
    --container-side-padding: 15px;
    --container-max-width: calc(var(--container-width) + var(--container-side-padding) * 2);

    /* Transition */
    --transition-time: 300ms;
    --transition-function: ease-in-out;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    /* To remove default bottom gap of 4px */
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--main-font);
    background-color: var(--gray);
}

button {
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    cursor: pointer;
    padding: 0;
}

.container {
    /* use 100% of the page id the width is smaller then max width */
    width: 100%;
    /* content width + 15px for each side (left and right) */
    max-width: var(--container-max-width);
    padding: 0 var(--container-side-padding);
    /* Center content inside the container */
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-bottom: 120px;
}

.section-title {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.section-title-accent {
    color: var(--orange);
}

/* -------------------- HEADER -------------------- */

.header {}

.header-container {
    display: flex;
    /* Gap between navigation and socials */
    gap: 90px;
}

.header-navigation {
    display: flex;
    /* Make header to take the most of the space */
    flex-grow: 1;
    /* Align content to have an even space between */
    justify-content: space-between;
}

.header-logo {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -0.03em;
    text-shadow: 0px 4px 4px rgba(var(--rgba-black), 0.25);
    /* Align logo icon to be in center */
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-logo-icon {
    margin-left: 4px;
}

.header-logo-accent {
    font-style: italic;
    margin-right: 6px;
}

.header-menu {
    display: flex;
    /* Space between menu items */
    gap: 24px;
}

.header-menu-link {
    display: block;
    height: 100%;
    padding-top: 28px;
    padding-bottom: 36px;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: -0.02em;
    transition: color var(--transition-time) var(--transition-function);
}

.header-menu-link:is(:hover, :focus) {
    color: var(--orange);
}

.header-socials {
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    /* Space between socials */
    gap: 14px;
}

.header-socials-item {
    height: 24px;
}

.header-socials-icon {
    transition: stroke var(--transition-time) var(--transition-function);
    stroke: var(--black);
    fill: none;
}

.header-socials-link:is(:hover, :focus) .header-socials-icon {
    stroke: var(--orange);
}

/* -------------------- HERO -------------------- */

.hero {
    padding-bottom: 79px;
}

.hero-container {
    background-color: rgba(var(--rgba-dark-gray), 0.60);
    background-image:
        linear-gradient(180deg, rgba(var(--rgba-dark-gray), 0.00), rgba(var(--rgba-dark-gray), 0.40)),
        url(../images/chocolate-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    /* Set padding around container */
    padding: 380px 40px 40px 40px;
}

.hero-title {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    /* Set title width */
    max-width: 484px;
    margin-bottom: 32px;
}

.hero-buttons {
    /* Make buttons to display in the same line */
    display: flex;
    align-items: center;
}

.hero-button {
    background: var(--orange);
    color: var(--white);
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
    margin-right: 14px;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
    transition-property: color, background-color;
}

.hero-button:is(:hover, :focus) {
    background-color: var(--light-orange);
    color: var(--orange);
}

.hero-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid currentColor;
    transition: color var(--transition-time) var(--transition-function);
}

.hero-link:is(:hover, :focus) {
    color: var(--orange);
}

.hero-down {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    /* Shift button to the right side */
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    transition: color var(--transition-time) var(--transition-function);
}

.hero-down:is(:hover, :focus) {
    color: var(--orange);
}

.hero-down-arrow {
    background-color: currentColor;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-down-icon {
    fill: var(--orange);
    transition: fill var(--transition-time) var(--transition-function);
}

.hero-down:is(:hover, :focus) .hero-down-icon {
    fill: var(--white);
}

/* -------------------- ADVANTAGES -------------------- */

.advantages {
    background: var(--violet);
    padding: 50px 0;
}

.advantages-list {
    padding: 0 18px;
    display: flex;
    gap: 88px;
}

.advantages-item {
    /* (container_total_width / combined_gap_between_all_items) / all_items_count */
    width: calc((100% - 88px * 2) / 3);
    position: relative;
}

.advantages-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -44px;
    top: 50%;
    transform: translateY(-50%);
    height: 124px;
    width: 1px;
    background-color: var(--white);
    opacity: 0.5;
}

.advantages-icon-container {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid rgba(var(--rgba-white), 0.50);
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages-icon {
    fill: var(--orange);
}

.advantages-item-title {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

.advantages-item-description {
    color: rgba(var(--rgba-white), 0.70);
    font-size: 14px;
    letter-spacing: -0.02em;
}

/* -------------------- Taste -------------------- */

.taste {
    padding-top: 120px;
}

.taste-title {
    max-width: 411px;
    /* Center it */
    margin: 0 auto;
    margin-bottom: 28px;
}

.taste-description {
    color: var(--black);
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 486px;
    /* Center it */
    margin: 0 auto;
    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    gap: 24px 32px;
    flex-wrap: wrap;
}

.taste-item {
    width: calc((100% - 32px * 3) / 4);
    border-radius: 15px;
    border: 1px solid var(--orange);
    background: var(--white);
    padding: 28px 36px 28px 28px;
    position: relative;
    overflow: hidden;
}

.taste-item:nth-child(4n+1) {
    background-color: var(--orange);
}

.taste-item:nth-child(4n+3) {
    background-color: var(--black);
    border-color: var(--black);
}


.taste-item:nth-child(odd) .taste-item-description {
    color: var(--white);
}

.taste-item-arrow-icon {
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 14px;
    stroke: var(--white);
    fill: none;
}

.taste-item:nth-child(even) .taste-item-arrow-icon {
    stroke: var(--orange);
}

.taste-item-image {
    margin-bottom: 36px;
}

.taste-item-description {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.taste-item-cover-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 20px 15px;
    transform: translateY(101%);
    transition: transform var(--transition-time) var(--transition-function);
    /* Add inner scroll */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.taste-item:is(:hover, :focus) .taste-item-cover-container {
    transform: translateY(0);
}

.taste-item-cover-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.taste-item-cover-buttons {
    display: flex;
    gap: 6px;
    padding: 8px 0 14px;
}

.taste-item-cover-button {
    padding: 6px 16px;
    font-size: 10px;
    line-height: 1.2;
    border-radius: 35px;
    border: 1px solid var(--orange);
    background: var(--gray);
}

.taste-item-cover-button-type {
    color: var(--white);
    background-color: var(--orange);
}

.taste-item-cover-button-benefits {}

.taste-item-cover-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--black);
    /* Add inner scroll */
    overflow-y: auto;
}

/* -------------------- Made -------------------- */

.made {}

.made-wrap {
    display: flex;
    justify-content: space-between;
}

.made-content {
    background-color: var(--white);
    padding: 32px;
    border-radius: 15px;
    width: 516px;
}

.made-title {}

.made-head {
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    min-width: 360px;
    padding-bottom: 28px;
}

.made-list {
    width: 429px;
}

.made-list-item:not(:last-child) {
    margin-bottom: 24px;
}

.made-list-item {
    padding-left: 16px;
    position: relative;
}

.made-list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 8px;
    height: 8px;
    background-color: #4C4C4C;
    border-radius: 50%;
    border: 1px solid #ECEDED;
}

.made-list-item-description {
    color: var(--black);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/* -------------------- Products -------------------- */

.products {}

.products-title {}

.products-list {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.product-item {
    border-radius: 15px;
    border: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    background: var(--white);
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 18px * 3) / 4);
}

.product-image {}

.product-title {
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.34;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.product-description {
    color: rgba(var(--rgba-dark-gray), 0.70);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.product-button {
    margin-top: 18px;
    border-radius: 100px;
    border: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    background: var(--gray);
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    transition-property: color, background-color, border-color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.product-button:is(:hover, :focus) {
    color: var(--gray);
    background-color: var(--orange);
    border-color: var(--orange);
}

/* -------------------- Top Sellers -------------------- */

.top-sellers {}

.top-sellers-title {}

.top-sellers-list {
    display: flex;
    gap: 16px;
}

.top-seller-item {
    width: calc((100% - 16px * 2) / 3);
}

.top-seller-image-container {
    overflow: hidden;
    position: relative;
    border-radius: 15px 15px 0px 0px;
}

.top-seller-description {
    position: absolute;
    top: 0;
    height: 100%;
    color: var(--white);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 178px;
    opacity: 0;
    background: linear-gradient(180deg, rgba(var(--rgba-black), 0.20), rgba(var(--rgba-black), 0.20));
    backdrop-filter: blur(7.5px);
    transition: opacity var(--transition-time) var(--transition-function);
}

.top-seller-item:is(:hover, :focus) .top-seller-description {
    opacity: 1;
}

.top-seller-title {
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    border-bottom: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    border-left: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    background: var(--white);
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.34;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding: 28px;
    text-align: center;
}

/* -------------------- Loved -------------------- */

.loved {}

.loved-title {
    margin-bottom: 90px;
}

.loved-title-accent {
    color: var(--orange);
}

.loved-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 60px;
    margin-bottom: 50px;
}

.loved-list-item {
    width: calc((100% - 28px * 2) / 3);
    padding: 56px 24px 24px 24px;
    border-radius: 15px;
    border: 1px solid rgba(var(--rgba-dark-gray), 0.10);
    background: var(--white);
    box-shadow: 0px 9px 100px 0px rgba(var(--rgba-dark-gray), 0.03);
    position: relative;
}

.loved-item-image {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loved-list-title {
    color: var(--black);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 24px;
}

.loved-list-description {
    color: rgba(var(--rgba-dark-gray), 0.70);
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.loved-button {
    color: var(--black);
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid var(--orange);
    display: block;
    margin: 0 auto;
    background-color: transparent;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
    transition-property: color, background-color;
}

.loved-button:is(:hover, :focus) {
    color: var(--white);
    background-color: var(--orange);
}

/* -------------------- Footer -------------------- */

.footer {
    background: var(--violet);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-title {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    max-width: 300px;
}

.footer-top {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(var(--rgba-white), 0.10);
    margin-bottom: 24px;
    justify-content: space-between;
}

.footer-contacts {
    display: flex;
    gap: 50px;
}

.footer-socials-container,
.footer-contacts-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.footer-socials,
.footer-contacts {
    color: var(--white);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    margin-bottom: 14px;
}

.footer-address {
    font-style: normal;
}

.footer-address-list {}

.footer-address-list-item {}

.footer-address-list-item:not(:last-child) {
    margin-bottom: 4px;
}

.footer-address-link {
    color: var(--white);
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    transition: color var(--transition-time) var(--transition-function);
}

.footer-address-link:is(:hover, :focus) {
    color: var(--orange);
}

.footer-socials {
    display: flex;
    /* Space between socials */
    gap: 14px;
}

.footer-socials-item {
    height: 100%;
    width: 100%;
}

.footer-socials-icon {
    transition: stroke var(--transition-time) var(--transition-function);
    stroke: var(--white);
}

.footer-socials-link:is(:hover, :focus) .footer-socials-icon {
    stroke: var(--orange);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-navigation {}

.footer-menu {
    display: flex;
    gap: 24px;
}

.footer-menu-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color var(--transition-time) var(--transition-function);
    padding: 18px 0;
}

.footer-menu-link:is(:hover, :focus) {
    color: var(--orange);
}

.subscribe-form {}

.subscribe-button {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    background-color: var(--orange);
    padding: 18px 32px;
    border-radius: 100px;
    background: var(--orange);
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
    transition-property: color, background-color;
}

.subscribe-button:is(:hover, :focus) {
    background-color: var(--light-orange);
    color: var(--orange);
}

/* -------------------- Modal -------------------- */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 67, 60, 0.5);
    transition: opacity 500ms var(--transition-function), visibility 500ms var(--transition-function);
}

.is-hidden {
    /* Hide it */
    opacity: 0;
    /* Disable focus */
    visibility: hidden;
    /* Disable interaction */
    pointer-events: none;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 517px;
    min-height: 794px;
    background-color: var(--gray);
    border-radius: 15px;
    transition: transform 500ms var(--transition-function);
    padding: 40px;
}

.backdrop.is-hidden .modal {
    transform: translate(-150%, -50%) scale(0) rotate(1turn);
}

.modal-close-button {
    position: absolute;
    border: none;
    background: none;
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
}

.modal-close-icon {
    stroke: var(--black);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: stroke var(--transition-time) var(--transition-function);
}

.modal-close-button:is(:hover, :active) .modal-close-icon {
    stroke: var(--orange);
}

.modal-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.modal-title-accent {
    display: block;
    color: var(--orange);
}

.modal-form {}

.modal-field {
    width: 100%;
    display: inline-block;
    margin-bottom: 18px;
}

.modal-label {
    display: inline-block;
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 68px;
    border-radius: 13px;
    border: 1.5px solid rgba(var(--rgba-dark-gray), 0.05);
    box-shadow: 0px 2px 2px 0px rgba(var(--rgba-black), 0.03);
    padding: 0 10px 0 62px;
    background-color: transparent;
    color: #404040;
    font-size: 18px;
    letter-spacing: -0.02em;
}

.modal-input:focus {
    border-color: var(--orange);
}

.modal-input:focus+.modal-input-icon {
    stroke: var(--orange);
}

.modal-input:focus::placeholder {
    opacity: 0;
}

.modal-input::placeholder {
    color: rgba(64, 64, 64, 0.30);
}

.modal-input-icon {
    stroke: var(--black);
    fill: transparent;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-text-area {
    height: 137px;
    padding: 22px 24px;
    resize: none;
}

.modal-submit {
    border-radius: 100px;
    background: var(--orange);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    padding: 14px 40px;
}

.modal-submit:disabled {
    background-color: var(--light-orange);
    color: var(--orange);
}

/* .modal-input:focus:invalid,
.modal-input:invalid {
    border-color: #E74A3B;
}

.modal-input:invalid+.modal-input-icon {
    stroke: #E74A3B;
} */