:root {
    --main-font: 'Montserrat', sans-serif;
    --black: #111;
    --orange: #FD9222;
    --violet: #1E1823;
    --white: #FFF;
    --gray: #FAFAFA;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: var(--main-font);
    background-color: var(--gray);
}

.container {
    /* use 100% of the page id the width is smaller then max width */
    width: 100%;
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    /* Center content inside the container */
    margin: 0 auto;
    outline: 2px solid red;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.section-title-accent {
    color: var(--orange);
}

/* -------------------- HEADER -------------------- */

.header {
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    align-items: center;
    /* Gap between navigation and socials */
    gap: 90px;
}

.header-logo {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    /* Align logo icon to be in center */
    display: flex;
    align-items: center;
}

.header-logo-accent {
    font-style: italic;
}

.header-menu {
    display: flex;
    /* Space between menu items */
    gap: 24px;
}

.header-menu-link {
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14x;
    letter-spacing: -0.02em;
}

.header-menu-link:is(:hover, :focus) {
    color: var(--orange);
}

.header-navigation {
    display: flex;
    align-items: center;
    /* Make header to take the most of the space */
    flex-grow: 1;
    /* Align content to have an even space between */
    justify-content: space-between;
}

.header-socials {
    display: flex;
    /* Space between socials */
    gap: 18px
}

/* -------------------- HERO -------------------- */

.hero {}

.hero-container {
    background: #433f46;
    border-radius: 30px;
    /* Set padding around container */
    padding: 380px 40px 40px 40px;
}

.hero-title {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    /* Set title width */
    max-width: 484px;
}

.hero-buttons {
    /* Make buttons to display in the same line */
    display: flex;
    align-items: center;
}

.hero-button {
    background: var(--orange);
    color: var(--white);
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 100px;
    border: none;
    margin-right: 14px;
}

.hero-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #FFF;

}

.hero-down {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    /* Shift button to the right side */
    display: block;
    margin-left: auto;
}

/* -------------------- ADVANTAGES -------------------- */

.advantages {
    background: var(--violet, #1E1823);
}

.advantages-list {}

.advantages-item {}

.advantages-item-title {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
}

.advantages-item-description {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    letter-spacing: 0.02em;
}

/* -------------------- Taste -------------------- */

.taste {}

.taste-title {}

.taste-description {
    color: var(--black);
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.taste-list {}

.taste-item {}

.taste-item-image {}

.taste-item-description {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.taste-item-description.light {
    color: var(--white);
}

.taste-item-description.dark {
    color: var(--black);
}

/* -------------------- Made -------------------- */

.made {}

.made-title {}

.made-head {
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
}

.made-list {}

.made-list-item {}

.made-list-item-description {
    color: var(--black);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/* -------------------- Loved -------------------- */

.loved {}

.loved-title {}

.loved-title-accent {
    color: #FD9222;
}

.loved-list {}

.loved-list-item {}

.loved-list-title {
    color: var(--black);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
}

.loved-list-description {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.loved-button {
    color: var(--black);
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
}

/* -------------------- Footer -------------------- */

.footer {
    background: var(--violet);
}

.footer-title {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
}

.footer-contacts {
    color: var(--white);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
}

.footer-address {
    font-style: normal;
}

.footer-address-list {}

.footer-address-list-item {}

.footer-address-link {
    color: var(--white);
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.footer-navigation {}

.footer-menu {}

.footer-menu-item {}

.footer-menu-link {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}